header{
  height: 75px;


}
#logo_central{
    width: 100px;
    margin: auto;
    padding: auto;
       

}
#logo_central img{
    width: 150px;
    height: 75px;
    float: left;

}
.carrito{
    float: right;
    margin-top: auto;
    margin-right: 5%;
    color: palevioletred;
    border: solid gray;
    border-radius: 50px;    
    padding: 5px;
    line-height: 3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
 
}
nav{
    margin-top: 10px;
    background-color: thistle;
    display: flex;
    justify-content:center;
    box-shadow: 10px 5px 25px gray;
}
nav ul{
    padding-inline-start: 0px;
   
}
nav ul li {
    display: inline-flex; /*hace que se vea en una linea el NAV*/
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;  
    font-style: normal;
    display: inline-block;
    
}

nav ul li :hover{
    background-color: white;
       
}
.activo {
    background-color: rgb(192, 42, 92);
    color: white;
    padding: 10%;
    clear: both;
}

.presentacion{
    text-align: center;
    font-size: 1.2em;

}
.presentacion p {
    font-size: 20px;
}


footer {
    margin-top: 5%;
    padding: 30px;
    height: 15%;
    background-color: thistle ;
    text-align: center;
    font-size: 20px;
    clear: both;
    
}
.FB {
    display: inline;
    padding: 2%;
}
.IG {
    display: inline;
    padding: 2%;
}