header{
    height: 75px;
  
  
}
#logo_central{
    width: 100px;
    margin: auto;
    padding: auto;     
  
}
#logo_central img{
    width: 150px;
    height: 75px;
    float: left;
  
}
.carrito{
    float: right;
    margin-top: auto;
    margin-right: 5%;
    color: palevioletred;
    border: solid gray;
    border-radius: 50px;    
    padding: 5px;
    line-height: 3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
   
}
nav{
    margin-top: 10px;
    background-color: thistle;
    display: flex;
    justify-content:center;
    box-shadow: 10px 5px 25px gray;
}
nav ul{
    padding-inline-start: 0px;
     
}
nav ul li {
    display: inline-flex; /*hace que se vea en una linea el NAV*/
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;  
    font-style: normal;
    display: inline-block;
      
}
nav ul li :hover{
    background-color: white;
     
}
nav ul li .activo {
    background-color: rgb(192, 42, 92);
    color: white;
    padding: 10%;
    clear: both;
}
.muestraArticulos{
    width: 70%;
    height: 90%;
    border: solid palevioletred;
    margin: auto;
    display: inline-flex;
    justify-content:center ;
    flex-flow: row wrap;
    float: left;

}
.articulo{
    width: 20%;
    height: fit-content;
    border: solid lightgray;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content:center ;
    padding: 5px;
    margin: 5px;
}
.articulo:hover{
    border: solid black;
    cursor: pointer;
    background-color: white;
    transform: scale(1.05,1.05);
    transition: all 0.3s ease-in-out;
}
.articulo img{
    width: 150px; 
    height: 150px;
}
.articulo h5 {
    padding: 5px;
    margin: auto;
    text-align: center;
}
.articulo p{
    text-align: center;
    font-size: 12px;
    margin: auto;
    
}

.articulo button{
    width: 80%;
    margin: 15px 0 0 0;
    padding: auto;
}
aside{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 27%;
    border: solid palevioletred;
    text-align: center;
    float: right;
}
aside i{
    font-size: larger;
    padding: 15px;
}
aside button{
    margin-left: 5%;
    margin-top: 1%;
    justify-items: center;
}
table, th, td{
    margin: auto;
    border: 1px dashed red;
    border-collapse: collapse;

}
table{
    padding: 50px;
}
#pago{
    margin: auto;
    padding: auto;
}
footer {
    margin-top: 10%;
    padding: 30px;
    height: 15%;
    background-color: thistle ;
    text-align: center;
    font-size: 20px;
    clear: both;
      
}
.FB {
    display: inline;
    padding: 2%;
}

.IG {
    display: inline;
    padding: 2%;
}